<div
	class="flex flex-col md:flex-row md:text-left justify-center p-20 items-center"
>
	<div>
		<h1 class="text-5xl font-bold">Bienvenido a la Academia Kepler</h1>
		<p class="text-3xl py-4">La mejor academia preuniversitaria de Arequipa</p>
	</div>
	<div>
		<img class="w-96 p-10" src="/images/logo-kepler.png" alt="logo-kepler" />
	</div>
</div>
