<section class="flex flex-col bg-teal-600 py-10 md:flex-row md:p-20 gap-y-10">
	<div class="flex-1 grid grid-cols-2 gap-4">
		<div class="text-center">
			<img src="icons/studying.svg" class="w-20 m-auto" />
			<p class="mt-4 text-white text-lg">Alto Nivel Académico</p>
		</div>
		<div class="text-center">
			<img src="icons/educator.svg" class="w-20 m-auto" />
			<p class="mt-4 text-white text-lg">Tutoría Personalizada</p>
		</div>
		<div class="text-center">
			<img src="icons/tutor.svg" class="w-20 m-auto" />
			<p class="mt-4 text-white text-lg">Excelencia en Docencia</p>
		</div>
		<div class="text-center">
			<img src="icons/online.svg" class="w-20 m-auto" />
			<p class="mt-4 text-white text-lg">Innovación Tecnológica</p>
		</div>
	</div>
	<div class="flex flex-1 flex-col gap-y-10 text-center px-5">
		<h2 class="text-5xl font-bol">Con resultados comprobados</h2>
		<p class="text-3xl text-zinc-300">
			Demostramos tener cualidades que demuestran nuestro liderazgo en el
			ámbito educativo, nuestros ingresantes son la mejor demostración de
			nuestro esfuerzo y dedicación
		</p>
	</div>
</section>
