<footer class="p-4 bg-blue-900 rounded-lg shadow md:px-6 md:py-8 mt-12">
	<div class="sm:flex sm:items-center sm:justify-between">
		<a href="https://flowbite.com/" class="flex items-center mb-4 sm:mb-0">
			<img
				src="/images/logo-kepler.png"
				class="h-8 mr-3"
				alt="kepler-Logo"
			/>
			<span
				class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
				>Academia Kepler</span
			>
		</a>
		<ul
			class="flex flex-wrap items-center mb-6 text-sm text-gray-500 sm:mb-0 dark:text-gray-400"
		>
			<li>
				<a href="https://www.facebook.com/academiakepler2022" class="mr-4 hover:underline md:mr-6">Facebook</a>
			</li>
			<li>
				<a href="https://www.instagram.com/academia.kepler.arequipa/" class="mr-4 hover:underline md:mr-6">Instagram</a>
			</li>
			<li>
				<a href="https://www.tiktok.com/@academiakepler" class="mr-4 hover:underline md:mr-6">Tik-Tok</a>
			</li>
		</ul>
	</div>
	<hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
	<span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400"
		>©<a href="https://www.facebook.com/academiakepler2022" class="hover:underline"
			>Academia Kepler</a
		>- Todos los derechos reservados.
	</span>
</footer>
